[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/dirdo"]
	path = bundle/dirdo
	url = git://github.com/ornicar/vim-dirdo.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/phpfolding"]
	path = bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "ack.vim"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/commandt"]
	path = bundle/commandt
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/php-namespace"]
	path = bundle/php-namespace
	url = git://github.com/arnaud-lb/vim-php-namespace.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/pix/vim-align.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-log"]
	path = bundle/vim-log
	url = git://github.com/AD7six/vim-activity-log.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/JavaScript-Indent"]
	path = bundle/JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "vim-node.js"]
	path = vim-node.js
	url = git://github.com/mmalecki/vim-node.js.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git://github.com/mmalecki/vim-node.js.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git

